<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find thorvald_2d_nav)/maps/empty.yaml"/>

  <!--- Run fake AMCL -->
 <!-- <node name="fake_localization" pkg="fake_localization" type="fake_localization">
    <remap from="odometry" to="base_pose_ground_truth"/>
  </node>
-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />    
    <rosparam file="$(find thorvald_2d_nav)/config/empty_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find thorvald_2d_nav)/config/empty_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find thorvald_2d_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find thorvald_2d_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find thorvald_2d_nav)/config/dwa_planner_ros.yaml" command="load" />

  <remap from="cmd_vel" to="cmd_vel_twist" />
  </node>

</launch>
