<?xml version="1.0" ?>

<launch>
  <arg name="robot_model" default="$(find thorvald_model)/config/thorvald_ii_4wd4ws_slim/thorvald_ii_4wd4ws_slim.yaml" />
  <arg name="model_extras" default="$(find thorvald_model)/urdf/sensor_modules/sensor_frames_lincoln.xacro" />
  <arg name="simple_sim" default="True" />


  <!-- model bringup -->
  <include file="$(find thorvald_model)/launch/model.launch">
    <arg name="robot_model" value="$(arg robot_model)" />
    <arg name="model_extras" value="$(arg model_extras)" />
  </include>


  <!-- base bringup-->
  <include file="$(find thorvald_base)/launch/base_bringup.launch">
    <arg name="robot_model" value="$(arg robot_model)" />
    <arg name="simple_sim" value="$(arg simple_sim)" />
  </include>


  <!-- teleop bringup -->
  <include file="$(find thorvald_teleop)/launch/teleop_xbox.launch" />


  <!-- twist mux bringup -->
  <include file="$(find thorvald_twist_mux)/launch/twist_mux.launch" />


  <!-- localization bringup -->
  <include file="$(find thorvald_2dnav)/launch/localization_local.launch" />


</launch>
