<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_frames">

<xacro:arg name="tf_prefix" default=""/>

<link name="$(arg tf_prefix)base_sensors"/>

<link name="$(arg tf_prefix)septentrio"/>
<link name="$(arg tf_prefix)xsens"/>

<!-- Hokuyo Laser -->
<link name="hokuyo">
  <collision>
   <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
     <box size="0.1 0.1 0.1"/>
    </geometry>
  </collision>

  <visual>
   <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://thorvald_2d_nav/meshes/hokuyo/hokuyo.dae"/>
    </geometry>
  </visual>

  <inertial>
    <mass value="1e-5" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
  </inertial>
</link>


<joint name="$(arg tf_prefix)base_base_sens" type="fixed">
  <parent link="$(arg tf_prefix)base_link"/>
  <child link="$(arg tf_prefix)base_sensors"/>
  <origin xyz="0.67 0 0.6" rpy="0 0 0"/>
</joint>

<joint name="$(arg tf_prefix)base_sens_septentrio" type="fixed">
  <parent link="$(arg tf_prefix)base_sensors"/>
  <child link="$(arg tf_prefix)septentrio"/>
  <origin xyz="-0.01 0 0.3" rpy="0 0 0"/>
</joint>


<joint name="$(arg tf_prefix)base_sens_xsens" type="fixed">
  <parent link="$(arg tf_prefix)base_sensors"/>
  <child link="$(arg tf_prefix)xsens"/>
  <origin xyz="0.05 0 0" rpy="0 0 0"/>
</joint>

<joint name="$(arg tf_prefix)base_sens_hokuyo" type="fixed">
  <parent link="$(arg tf_prefix)base_sensors"/>
  <child link="$(arg tf_prefix)hokuyo"/>
  <origin xyz="-0.17 0. 0.3" rpy="0 0 0"/>
</joint>

</robot>

