<?xml version="1.0" ?>

<launch>

<arg name="topo_map" default="norway_poles_sim_6_pts" />
<arg name="map_file" default="$(find thorvald_2d_nav)/maps/norway_curved_poles.yaml"/>
<arg name="ekf_odom_config" default="$(find thorvald_2d_nav)/config/norway_odom_ekf.yaml"/>
<arg name="simple_sim" value="false"/>
<arg name="use_sim_time" value="false"/>
<arg name="initial_pose_x" default="4.5"/>
<arg name="initial_pose_y" default="5.4"/>
<arg name="world" value="norway_curved_poles" />

<!--THORVALD BRINGUP-->
<include file = "$(find thorvald_2d_nav)/launch/robot_bringup.launch">
  <arg name="world_name" value="$(arg world)" />
  <arg name="simple_sim" value="$(arg simple_sim)" />
</include>

<node pkg="urg_node" type="urg_node" name="urg_node" output="screen">
 <param name="ip_address" value="192.168.0.10"/>
</node>

<!-- imu-ekf or odm-ekf localization for odom-to-base_link -->
<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local" clear_params="true" output="screen">
    <rosparam command="load" file="$(arg ekf_odom_config)" />
</node> 


<include file = "$(find thorvald_2d_nav)/launch/amcl.launch">
  <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
  <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
  <arg name="map_file" value="$(arg map_file)"/>
  <arg name="simple_sim" value="$(arg simple_sim)" />
</include>

<!--node pkg="thorvald_2d_nav" type="poly_nav_row_following" name="poly_nav_row_following" output="screen"/>
<node pkg="thorvald_2d_nav" type="poly_nav_row_transition" name="poly_nav_row_transition" output="screen"/-->

<!--include file = "$(find thorvald_2d_nav)/launch/move_base_dwa.launch" /-->

<!--include file="$(find mongodb_store)/launch/mongodb_store.launch">
  <arg name="db_path" value="/home/saga/mongodb/"/>
</include>

<include file="$(find topological_navigation)/launch/topological_navigation.launch" >
 <arg name="map" value="$(arg topo_map)" />
</include--> 

<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find thorvald_2d_nav)/rviz/jfr.rviz"/-->

</launch>
